<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <h1><%= title %></h1>
    <form method="POST">
      <div>
        <label for="username">Username: </label>
        <input
          type="text"
          name="username"
          id="username"
          value="<%= invalidInput?.username %>"
          required
        />
      </div>
      <div>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required />
      </div>
      <div>
        <ul>
          <% if (locals.errors) { errors.map((error) => { %>
          <li><%= error.msg %></li>
          <% })} %>
        </ul>
      </div>
      <button type="submit">Log In</button>
      <a href="/"><button type="button">Go Back</button></a>
    </form>
  </body>
</html>
